Σας έχουμε καλά νέα!
\===============================================

Σε κάποιον/α άρεσε το προφίλ σας και σας έστειλε καρδιά!!

Για να δείτε τις καρδιές σας, μεταβέιτε εδώ: http://kardies.gr/likes

Να έχετε μια υπέροχη μέρα!

Για να μην λαμβάνετε παρόμοια email αλλάξτε τις ρυθμίσεις σας εδώ:
http://kardies.gr/email_preferences/edit
