<% content_for :title do %>
  Νέα καρδιά!
<% end %>

<% content_for :preheader do %>
  Σας έχουμε καλά νέα <%= @user.username %>, κάποιος/α σας έστειλε καρδιά στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Κάποιος/α σας έστειλε μια νέα καρδιά!</h1>
Συνδεθείτε <a href="https://kardies.gr">εδώ</a> για να δείτε σε ποιόν/ά άρεσε το προφίλ σας και σας έστειλε καρδιά.
<% end %>
