= image_tag attachments['hearts-logo-small.png'].url
%h1 Σας έχουμε καλά νέα #{@user.username}!
%p Σε κάποιον/α άρεσε το προφίλ σας και σας έστειλε καρδιά!
%p Για να δείτε τις καρδιές σας, ακολουθήστε το link εδώ: #{link_to "My hearts", "http://kardies.gr/likes"}
%p Να έχετε μια υπέροχη μέρα!
%p
  %small
    Για να μην λαμβάνετε παρόμοια email αλλάξτε τις ρυθμίσεις σας εδώ:
    #{link_to "Email Preferences", "http://kardies.gr/user/edit"}
