.row.justify-content-center.mb-4
  .col-lg-6.col-sm-12.bg-white.effect2.p-4
    = render partial: 'edit_form'

.row.justify-content-center
  .col-lg-6.col-sm-12.bg-white.effect2.p-4
    = render partial: 'abouts/edit'
