<h1> Καλώς ήλθατε στο kardies.gr <%= @user.username %>! </h1>
<p> Εγγραφήκατε με επιτυχία στο kardies.gr! </p>
<p>
  Για να συνδεθείτε, ακολουθήστε το link εδώ: <%= link_to "kardies.gr", "https://kardies.gr" %>
</p>
<p> Σας ευχαριστούμε για την συμμετοχή και να έχετε μια υπέροχη μέρα! </p>
