= image_tag attachments['hearts-logo-small.png'].url
%h1 Καλώς ήλθατε στο kardies.gr #{@user.username}!
%p Εγγραφήκατε με επιτυχία στο kardies.gr!
%p Για να συνδεθείτε, ακολουθήστε το link εδώ: #{link_to "kardies.gr", "http://kardies.gr"}
%p Σας ευχαριστούμε για την συμμετοχή και να έχετε μια υπέροχη μέρα!
