<% content_for :title do %>
  Καλώς ήρθατε!
<% end %>

<% content_for :preheader do %>
  Καλώς ήρθατε στο <a href="https://kardies.gr">kardies.gr</a> <%= @user.username %>!
<% end %>

<% content_for :body do %>
  <h1>Καλώς ήρθατε!</h1>
  <p> Εγγραφήκατε με επιτυχία στο kardies.gr! </p>
  <p> Για να συνδεθείτε, ακολουθήστε το link εδώ: <%= link_to "kardies.gr", "https://kardies.gr" %></p>
  <p> Σας ευχαριστούμε για την συμμετοχή και ελπίζουμε με τη βοηθειά μας να βρείτε αυτό που ζητάτε!</p>
<% end %>
