= if Rails.env.production?
  = javascript_include_tag "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async: true
  %ins.adsbygoogle{ style: "display:block", "data-ad-client" => "ca-pub-6929844255027064", "data-ad-slot" => "3312852531", "data-ad-format" => "auto" }
  = javascript_include_tag 'chatbox_ad'
