- message = receipt.message if defined? receipt

%li.message-bubble
  .name
    = link_to user_path(message.sender) do
      = image_tag message.sender.profile_picture, class: "icon-size"
  .time
    = message.created_at.strftime("%a %B %-d %Y")

  .message
    %p= message.body
