.col-sm-2
  .list-group
    =link_to conversations_path(box: 'inbox'), class: "list-group-item list-group-item-action" do
      %span.tag.tag-default.tag-pill.pull-xs-right= current_user.unread_inbox_count
      Inbox
    =link_to 'Sent', conversations_path(box: 'sent'), class: "list-group-item list-group-item-action"
    =link_to 'Trash', conversations_path(box: 'trash'), class: "list-group-item list-group-item-action"

.col-sm-9
  - if @box == 'trash'
    %p= link_to 'Empty trash', empty_trash_conversations_path,
          class: 'btn btn-danger', method: :delete,
          data: {confirm: 'Are you sure?'}

  %ul.list-group
    = render partial: 'conversations/conversation', collection: @conversations
