.row
  .col.bg-white.effect2.margin-3
    %table.table
      %thead
        %tr
          %th
            %small
              %strong= t '.sender'
      %tbody
        = render partial: 'conversation', collection: @conversations
