.small-12.columns
  .ui
    .left-menu
      %menu.list-friends

    .chat
      .top{"id" => "conversation", "conversation-id" => "#{@hashed_conversation}"}
        .avatar
          .info
          %ul.messages{"id" => "messages"}
            - @conversation.receipts_for(current_user).each do |receipt|
              = render partial: 'conversations/message', locals: { receipt: receipt }
        .write-form
          = form_tag reply_conversation_path(@conversation), method: :post, id: 'conversation-form' do
            = text_area_tag 'body', nil, cols: 3, class: 'form-control conversation-message', placeholder: 'Type something...', required: true, "data-behaviour" => "message_speaker"
