.container
  .col.whitesmoke-bg.m-2.effect2
    %h4.orange-text ΕΙΣΑΓΩΓΗ
    %p Ο επισκέπτης / χρήστης των υπηρεσιών του παρόντος ιστοτόπου kardies.gr (εφεξής ο <<ιστότοπος>>) αποδέχεται τούς παρακάτω όρους χρήσης.
    %p
      %strong Σε περίπτωση που δεν συμφωνείτε και δεν αποδέχεστε τους κάτωθι όρους και προϋποθέσεις, παρακαλείστε να μην προχωρήσετε στη χρήση του ιστοτόπου.
    %p Ο ιστότοπος διατηρεί το δικαίωμα να αλλάξει τους όρους χρήσης με η χωρίς προειδοποίηση.
    %p Ο ιστότοπος δεσμεύεται να διασφαλίσει την ιδιωτικότητα των επισκεπτών του.

    %h4.orange-text ΠΡΟΣΤΑΣΙΑ ΑΝΗΛΙΚΩΝ
    %p Οι επισκέπτες / χρήστες του ιστοτόπου που είναι ανήλικοι (κάτω των 18 ετών) δεν επιτρέπεται να έχουν πρόσβαση στις υπηρεσίες του ιστοτόπου.
    Εάν παρόλα αυτά ανήλικοι χρήστες αυτοβούλως επισκεφτούν τον ιστότοπο, ο ιστότοπος δεν φέρει καμία ευθύνη. Κατά την εγγραφή σας εμείς απαιτούμε να μας παρέχετε επαρκείς πληροφορίες για να εξακριβώσουμε την ηλικία σας.
    %p Με το πού γίνεστε μέλη, εσείς εγγυάστε ότι είστε άνω των 18 ετών.
    Ωστόσο, ο ιστότοπος δεν μπορεί να εγγυηθεί ότι όλοι οι χρήστες της υπηρεσίας μας είναι άνω των 18 ετών (ενήλικες).
    %p Τα μέλη που βρίσκονται κάτω από το απαιτούμενο ελάχιστο φέρουν προσωπική ευθύνη για τις πράξεις τους και ο ιστότοπος δεν φέρει καμία ευθήνη.

    %h4.orange-text ΕΝΑΡΞΗ - ΔΙΑΚΟΠΗ ΛΕΙΤΟΥΡΓΙΑΣ ΥΠΗΡΕΣΙΩΝ
    %p Ο ιστότοπος διατηρεί το δικαίωμα να τερματίσει προσωρινά ή μόνιμα την λειτουργία και προσφορά υπηρεσιών του όποτε κρίνει απαραίτητο με η χωρίς προειδοποίηση.

    %h4.orange-text ΒΛΑΒΗ ΑΠΟΖΗΜΙΩΣΗ
    %p Ο χρήστης / μέλος του ιστοτόπου κατανοεί και αποδέχεται ότι διατηρεί την αποκλειστική ευθύνη να αποζημιώσει τον ιστότοπο και τους συνεργάτες του για οποιαδήποτε νομική διαμάχη προκύψει μεταξύ αυτού και τρίτων φορέων λόγω του περιεχομένου που αυτός διαθέσει για ανάρτηση, δημοσίευση, ή άλλη μεταφορά μέσω των υπηρεσιών του ιστοτόπου.

    %h4.orange-text ΔΙΑΡΚΕΙΑ
    %p Ο ιστότοπος έχει το δικαίωμα να αποκλείσει / διακόψει την είσοδο σε οποιοδήποτε χρήστη / μέλος με ή χωρίς προειδοποίηση όταν πιστεύει πως έχουν παραβίασει τους όρους χρήσης.

    %h4.orange-text ΛΟΓΑΡΙΑΣΜΟΣ ΜΕΛΟΥΣ
    %p Ο ιστότοπος παρέχει στους χρήστες του υπηρεσίες μελών, κατόπιν ολοκλήρωσης της διαδικασίας καταχώρησης των στοιχείων τους.
    %p Τα μέλη παραμένουν προσωπικά και αποκλειστικά υπεύθυνοι για όλες τις πράξεις που διενεργούνται από τον λογαριασμό τους (user account).
    %p Τα μέλη συμφωνούν να ειδοποιούν άμεσα τον ιστότοπο, αν αντιληφθούν οποιαδήποτε μη εξουσιοδοτημένη χρήση του λογαριασμού τους ή οποιαδήποτε γενόμενη ή πιθανή παραβίαση ασφάλειας.
    %p Tα μέλη ευθύνονται αποκλειστικά για την προσεκτική χρήση του λογαριασμού τους και την τυπική έξοδο τους από τον λογαριασμό τους στο τέλος κάθε χρήσης (αποσύνδεση, logout).
    %p Κάθε μέλος μπορεί να διατηρεί μονάχα έναν και μόνο λογαριασμό, σε περίπτωση που κάποιο μέλος διατηρεί δυο οι περισσότερους λογαριασμούς τότε ο ιστότοπος θα μπορεί να προχωρήσει στην διαγραφή των λογαριασμών χωρίς καμία προειδοποίηση.
    %p Κατά την εγγραφή σας εσείς πληκτρολογείτε το όνομα χρήστη και των κωδικό πρόσβασης, και έχετε την πλήρη ευθύνη για τη χρήση τους, όπως επίσης αναλαμβάνεται την ευθύνη εάν τις διαθέσετε σε τρίτους. Αν υπάρχουν υποψίες ότι ο λογαριασμός σας χρησιμοποιείται από τρίτους χωρίς την άδειά σας, μπορείτε να αλλάξετε τον κωδικό πρόσβασης.
    %p Είστε υπεύθυνοι για τη διατήρηση της μυστικότητας του ονόματος χρήστη και τον κωδικό καθώς και για όλες τις δράσεις που απορρέουν από την εγγραφή σας.
    %p Ο ιστότοπος δεν ευθύνεται για οποιαδήποτε βλάβη ή ζημία προκύψει από την αδυναμία των χρηστών να σεβαστούν και να ακολουθήσουν την παρούσα ρήτρα.

    %h4.orange-text ΕΙΔΙΚΕΣ ΕΝΗΜΕΡΩΣΕΙΣ ΣΧΕΤΙΚΑ ΜΕ ΤΙΣ ΔΙΑΔΙΚΤΥΑΚΕΣ ΓΝΩΡΙΜΙΕΣ
    %p Δεν έχουμε καμία υποχρέωση να εμπλακούμε σε τυχόν διενέξεις ανάμεσα στα μέλη και δεν παρέχουμε υπηρεσίες διαμεσολάβησης ή συμβιβασμού σε περίπτωση που υπάρξει διαφωνία ανάμεσα σε μέλη ή/και χρήστες της Υπηρεσίας ή/και του ιστοτόπου.

    %h4.orange-text ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ ΧΡΗΣΤΩΝ

    %p Ο ιστότοπος μπορεί -αλλά δεν υποχρεούται- να παρακολουθεί το σύνολο των προφίλ και άμεσων μηνυμάτων από τα μέλη των σχετικών υπηρεσιών αποκλειστικά για τη διαπίστωση παραβάσεων των όρων χρήσης τους, όπως προβλέπεται ειδικότερα στους Όρους Χρήσης και για κανέναν άλλο σκοπό. Ο ιστότοπος δε δύναται να γνωστοποιήσει σε τρίτους το περιεχόμενο των σχετικών μηνυμάτων εκτός αν ο συντάκτης τους συναινεί ή ο νόμος ή αρμόδια αρχή το επιτάσσει.
    %p Ο ιστότοπος μπορεί -αλλά δεν υποχρεούται- να παρακολουθεί ή να ελέγχει τα μηνύματα ή το υλικό που αναρτάται ή αποστέλλεται από τους χρήστες της υπηρεσίας και δεν φέρουμε ευθύνη για τυχόν περιεχόμενο αυτών. Ωστόσο, διατηρούμε το δικαίωμα, χωρίς αυτό να συνιστά υποχρέωσή μας, να διαγράψουμε, να μετακινήσουμε ή να επεξεργαστούμε μηνύματα ή υλικό (μεταξύ των οποίων φωτογραφίες, μηνύματα) το οποίο θεωρούμε, κατά την κρίση μας, ότι παραβιάζει την παρούσα Συμφωνία ή είναι για οποιοδήποτε άλλο λόγο μη αποδεκτό.
    %p Δυστυχώς, καμία μετάδοση πληροφοριών μέσω διαδικτύου δεν μπορεί να έχει εγγύηση απόλυτης ασφάλειας. Ωστόσο, ενώ επιδιώκουμε να προστατέψουμε τις εν λόγω πληροφορίες, δεν εγγυόμαστε ούτε είμαστε σε θέση να διασφαλίσουμε την ασφάλεια των πληροφοριών που μας αποστέλλετε. Συνεπώς, κάθε πληροφορία που μας αποστέλλετε, αποστέλλεται με δική σας ευθύνη. Παρόλα αυτά, αφού λάβουμε τις πληροφορίες σας, λαμβάνουμε όλα τα απαραίτητα μέτρα για την ασφάλειά τους.
    %p Ο ιστότοπος μπορεί -αλλά δεν υποχρεούται- να καταγράφει προσωπικά στοιχεία μόνο όταν κάποιο μέλος του χρησιμοποιεί τα προϊόντα ή/και τις υπηρεσίες του.
    %p O ιστότοπος μπορεί -αλλά δεν υποχρεούται- να καταγράφει στοιχεία όπως το email, επίσης μας παρέχετε πληροφορίες για την περιοχή, ηλικία, φωτογραφίες, ψευδώνυμο και ενδιαφέροντά σας.
    %p O ιστότοπος μπορεί -αλλά δεν υποχρεούται- να καταγράφει αυτομάτως τεχνικά στοιχέια όπως την ηλεκτρονική διεύθυνση (IP address) του ηλεκτρονικού φορέα σας (ISP), τον τύπο πλοήγησης (browser) καθώς και την ημερομηνία πρόσβασης στις υπηρεσίες μας.
    %p Χρησιμοποιούμε τις πληροφορίες αυτές για να σας παρέχουμε τις υπηρεσίες μας, και σε καμία περίπτωση δεν της εκχωρούμε σε τρίτους, με εξαίρεση της περιπτώσει όπου ο νόμος μας υποχρεώνει.
    Μέρος αυτόν των πληροφοριών δημοσιεύονται με τη συγκατάθεσή σας στον λογαριασμό σας, ο οποίος εκτίθεται στο κοινό στο ιστοτόπου.
    %p Δίνετε την συγκατάθεση σας μέρος αυτών των πληροφοριών να χρησιμοποιηθεί για στατιστικούς σκοπούς και έρευνα αγοράς από τον ιστότοπο, που σημαίνει λήψη εμπορικών πληροφοριών από τον ιστότοπο στην ηλεκτρονική διεύθυνση που συμπληρώσατε κατά την καταχώριση του προφίλ σας.
    %p Κατά την εγγραφή σας εμείς απαιτούμε να μας παρέχετε επαρκείς πληροφορίες για να εξακριβώσουμε την ηλικία σας. Με το πού γίνεστε μέλη, εσείς εγγυάστε ότι είστε άνω των 18 ετών. Ωστόσο, εμείς δεν μπορούμε να εγγυηθούμε ότι όλοι οι χρήστες της υπηρεσίας μας είναι άνω των 18 ετών(ενήλικες). Τα μέλη που βρίσκονται κάτω από το απαιτούμενο ελάχιστο φέρουν προσωπική ευθύνη για τις πράξεις τους.
    %p Ο ιστότοπος απαγορεύει στους χρήστες / μέλη να εισάγουν στις σελίδες του δεδομένα προσωπικού χαρακτήρα και να περιορίζονται στην καταγραφή και ανταλλαγή μόνο τόσων στοιχείων όσων είναι απολύτως απαραίτητων για την μεταξύ τους επικοινωνία.
    %p O ιστότοπος χρησιμοποιεί cookies που δεν έχουν διαγραφεί από τον χρηστη για την σωστή λειτουργία των υπηρεσιων του. Παρακάτω περισσότερες πληροφορίες για τα cookies.
    %strong Cookies
    %p O ιστότοπος έχει τη δυνατότητα να χρησιμοποιεί cookies ως μέρος της διευκόλυνσης αλλά και λειτουργίας των υπηρεσιών μέσω της ιστοσελίδας του.
    %p Τα Cookies είναι μικρά αρχεία (text files), τα οποία απoστέλλονται και φυλάσσονται στον ηλεκτρονικό υπολογιστή του χρήστη, επιτρέποντας σε ιστοσελίδες όπως το kardies.gr, να λειτουργούν απρόσκοπτα και χωρίς τεχνικές ανωμαλίες, να συλλέγονται πολλαπλές επιλογές του χρήστη, να αναγνωρίζουν τους συχνούς χρήστες, να διευκολύνουν την πρόσβαση τους σε αυτή, και για τη συλλογή δεδομένων για τη βελτίωση του περιεχομένου της ιστοσελίδας.
    %p Τα Cookies δεν προκαλούν βλάβες στους ηλεκτρονικούς υπολογιστές των χρηστών αλλά και στα αρχεία που φυλάσσονται σε αυτούς. Χρησιμοποιούμε τα cookies για να σας παρέχουμε πληροφορίες και να σας παρέχουμε την υπηρεσία των άμεσων μηνυμάτων (chat) ενώ σε κάθε έξοδό σας από το site διαγράφονται αυτόματα. Πρέπει να έχετε υπόψη σας ότι τα cookies είναι απόλυτα αναγκαία προκειμένου να λειτουργεί σωστά και απρόσκοπτα ο ιστότοπος.

    %h4.orange-text ΕΞΩΤΕΡΙΚΕΣ ΣΥΝΔΕΣΕΙΣ
    %p Ο ιστότοπος μπορεί να περιλαμβάνει hyperlinks ("συνδέσμους") ή διαφιμηστικών banner προς άλλους δικτυακούς τόπους, οι οποίοι ελέγχονται από τρίτους φορείς.
    %p Σε καμία περίπτωση δεν ευθύνεται ο ιστότοπος για το περιεχόμενό τους, ούτε για οποιαδήποτε οικονομική ή άλλης φύσεως βλάβη υποστεί το μέλος που τους ακολουθεί.

    %h4.orange-text ΕΝΗΜΕΡΩΤΙΚΑ ΔΕΛΤΙΑ (NEWSLETTERS)
    %p Ο ιστότοπος διατηρεί το δικαίωμα να αποστέλλει ηλεκτρονικά μηνύματα πληροφοριακού, ενημερωτικού, ή διαφημιστικού χαρακτήρα μέσω της αντίστοιχης υπηρεσίας που παρέχει προς τους επισκέπτες / χρήστες του.

    %h4.orange-text ΔΙΑΦΗΜΙΣΕΙΣ
    %p Οι διαφημίσεις στον ιστότοπο μπορεί να προέρχονται από εξωτερικές εταιρίες και μπορούν να περιέχουν cookies. Αν και χρησιμοποιούνται cookies και σε άλλα τμήματα του web site, τα cookies που παραλαμβάνονται μαζί με κάποιες διαφημίσεις, συλλέγονται από τις διαφημιστικές εταιρίες και ο ιστότοπος δεν έχει πρόσβαση στις πληροφορίες αυτές.
    %p Υπεύθυνοι για το περιεχόμενο των διαφημίσεων που εμφανίζονται (αν εμφανίζονται) στον ιστότοπο (συμπεριλαμβανομένων των συνδέσμων για τις ιστοσελίδες των διαφημιζομένων) είναι αποκλειστικά οι διαφημιζόμενοι. Η τοποθέτηση των εν λόγω διαφημίσεων δεν συνιστά πρόταση ή υποστήριξη του προϊόντος ή της υπηρεσίας από πλευράς του ιστοτόπου. Ο εκάστοτε διαφημιζόμενος είναι ο αποκλειστικός υπεύθυνος για τα μηνύματα που προβάλλονται σε σχέση με τις διαφημίσεις του.

    %h4.orange-text ΔΕΟΝΤΟΛΟΓΙΑ ΜΕΛΩΝ
    %p Είναι αμοιβαίως αποδεκτό και κατανοητό ότι, παρόλο που ο ιστότοπος παρέχει στους χρήστες / μέλη του την απαραίτητη τεχνολογική υποδομή και τα μέσα για ανάρτηση / δημοσίευση περιεχομένου, όλες οι πληροφορίες, τα δεδομένα, τα κείμενα, τα γραφικά, οι φωτογραφίες, οι εικόνες, τα μηνύματα και όλο το περιεχόμενο, είτε αναρτάται δημόσια είτε μεταφέρεται ιδιωτικά, παραμένει στην αποκλειστική ευθύνη του φυσικού ή νομικού προσώπου από το οποίο το περιεχόμενο πηγάζει.
    %p Αυτό σημαίνει ότι ο χρήστης / μέλος είναι αποκλειστικά υπεύθυνος για όλο και οποιοδήποτε περιεχόμενο αναρτά, δημοσιεύει, αποστέλλει, μεταφέρει ή άλλως καθιστά διαθέσιμο μέσω των υπηρεσιών του ιστοτόπου. Ο ιστότοπος δεν είναι δυνατό, λόγω του όγκου των πληροφοριών, να ελέγχει το σύνολο του περιεχομένου που αναρτάται από τους χρήστες / μέλη του στις υπηρεσίες του δικτυακού τόπου, οπότε δεν εγγυάται την ακρίβεια, την ακεραιότητα, τη νομιμότητα, ή την ποιότητα τέτοιου περιεχομένου.

    %p Ο χρήστης / μέλος κατανοεί και αποδέχεται ότι χρησιμοποιώντας τις υπηρεσίες του ιστοτόπου μπορεί να εκτεθεί σε περιεχόμενο προσβλητικό, ανήθικο ή παράνομο.
    %p Σε καμία περίπτωση δε μπορεί να θεωρηθεί υπεύθυνος ο ιστότοπος, για οποιοδήποτε λάθος ή παραλείψεις σε οποιοδήποτε περιεχόμενο ή για οποιαδήποτε βλάβη ή ζημία που τυχόν προκύψουν από τη χρήση οποιουδήποτε περιεχομένου που αναρτάται, αποστέλλεται, μεταφέρεται ή άλλως καθίσταται διαθέσιμο από τους χρήστες / μέλη στις υπηρεσίες του ιστοτόπου.
    %p Σε περίπτωση πoυ ο ιστότοπος λάβει ειδοποίηση ότι οποιοδήποτε περιεχόμενο προκαλεί ηθική βλάβη ή άλλη ζημία σε τρίτο πρόσωπο διατηρεί το δικαίωμα να προβεί στην άμεση διαγραφή του περιεχομένου αυτού και ταυτόχρονα να διακόψει τη λειτουργία του λογαριασμού του χρήστη / μέλους ο οποίος παραβιάζει τους όρους του παρόντος.
    %p Οι χρήστες / μέλη συμφωνούν να μην κάνουν χρήση των υπηρεσιών του ιστόπου για:
    %ol
      %li Ανάρτηση, δημοσίευση, αποστολή, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση περιεχομένου που είναι παράνομο, επιβλαβές, απειλητικό, προσβλητικό, επιζήμιο, δυσφημιστικό, χυδαίο, βίαιο, υβριστικό, ρατσιστικό ή άλλως αποδοκιμαστέο, παραβιάζει την προσωπικότητα και τα προσωπικά δεδομένα άλλων, προκαλεί συναισθήματα μίσους, ή / και οποιοδήποτε άλλο συνιστάμενο ποινικό αδίκημα.
      %li Πρόκληση βλάβης σε ανήλικους με οποιοδήποτε τρόπο.
      %li Μίμηση οποιουδήποτε νομικού ή φυσικού προσώπου ή ψευδή δήλωση για την ταυτότητα του χρήστη / μέλους ή παραπλανητική δήλωση αναφορικά με τη σχέση ή / και συνεργασία του χρήστη / μέλους με κάποιο άλλο νομικό ή φυσικό πρόσωπο.
      %li Παραχάραξη ή άλλη αλλοίωση των αναγνωριστικών των χρηστών / μελών με σκοπό την παραπλάνηση ως προς την προέλευση του περιεχομένου που μεταδίδεται μέσω των υπηρεσιών του ιστοτόπου.
      %li Ανάρτηση, δημοσίευση, αποστολή, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση περιεχομένου από άτομο που δεν έχει δικαίωμα να διαθέσει το συγκεκριμένο περιεχόμενο βάσει νόμου ή βάσει εμπιστευτικής σχέσης.
      %li Ανάρτηση, δημοσίευση, αποστολή, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση λογισμικού ή περιεχομένου κάθε μορφής (κειμένου, εικόνας, ήχου, video, animation) που παραβιάζει οποιαδήποτε δικαιώματα πνευματικής ιδιοκτησίας οποιουδήποτε φορέα (συμπεριλαμβανομένων των εμπορικών μυστικών).
      %li Ανάρτηση, δημοσίευση, αποστολή, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση αυτόκλητης ή μη εξουσιοδοτημένης διαφήμισης ή άλλου περιεχομένου προώθησης προϊόντων, την αποστολή ανεπιθύμητων και μη προσκαλούμενων από τον λήπτη ηλεκτρονικών μηνυμάτων (e-mails) και οποιαδήποτε άλλη μορφή ανεπιθύμητης προώθησης περιεχομένου.
      %li Ανάρτηση, δημοσίευση, αποστολή, μεταφορά ή χρήση άλλης μεθόδου για την εγκατάσταση ή / και προώθηση ή / και διάθεση περιεχομένου που περιέχει ψηφιακούς ιούς ή οποιοδήποτε άλλο ηλεκτρονικό κώδικα, αρχεία ή προγράμματα σχεδιασμένα να παρεμβληθούν, καταστρέψουν ή περιορίσουν τη λειτουργία οποιουδήποτε λογισμικού ή εξοπλισμού ηλεκτρονικών υπολογιστών ή τηλεπικοινωνιακού εξοπλισμού.
      %li Παρεμβολή στις υπηρεσίες ή διάσπαση των υπηρεσιών ή των servers ή των δικτύων που είναι συνδεδεμένα με τις υπηρεσίες του ιστοτόπου, ή παρακοή των προϋποθέσεων, διαδικασιών και κανόνων χρήσης των δικτύων αυτών.
      %li Παραβίαση, με ή χωρίς πρόθεση, οποιασδήποτε τοπικής, εθνικής, ευρωπαϊκής, διεθνούς νομοθεσίας ή / και οποιουδήποτε κανόνα που έχει νομοθετική ισχύ και αφορά ή / και καλύπτει οποιαδήποτε υπηρεσία του ιστοτόπου.
      %li Παρενόχληση με οποιονδήποτε τρόπο της ιδιωτικής ζωής και των ατομικών και κοινωνικών δικαιωμάτων άλλων χρηστών / μελών (όπως η συλλογή ή / και αποθήκευση προσωπικών δεδομένων άλλων χρηστών / μελών)
      %li Ο χρήστης / μέλος του ιστοτόπου κατανοεί και αποδέχεται ότι ο ιστότοπος δεν κάνει προκαταρκτικό έλεγχο του περιεχομένου, αλλά ότι ο ιστότοπος και οι αρμόδιοι συνεργάτες του διατηρούν το δικαίωμα (και όχι την υποχρέωση) της αποκλειστικής επιλογής άρνησης ανάρτησης / δημοσίευσης ή μετακίνησης ή διαγραφής οποιουδήποτε περιεχομένου διατίθεται μέσω των υπηρεσιών του ιστοτόπου.
      %li Επίσης, ο ιστότοπος και οι αρμόδιοι συνεργάτες του διατηρούν το δικαίωμα να διαγράφουν οποιοδήποτε περιεχόμενο παραβιάζει τους παρόντες όρους χρήσης.
      %li Ο χρήστης / μέλος κατανοεί και αποδέχεται ότι πρέπει να αξιολογεί και να είναι υπεύθυνος για κάθε κίνδυνο που μπορεί να ενέχει η χρήση οποιουδήποτε περιεχομένου, συμπεριλαμβανομένης οποιασδήποτε απόφασης του να βασιστεί στην ορθότητα, την πληρότητα ή / και τη χρησιμότητα οποιουδήποτε περιεχομένου. Υπό αυτή την έννοια, ο χρήστης / μέλος κατανοεί και αποδέχεται ότι δεν μπορεί να βασίζεται στο περιεχόμενο που δημιουργεί ο ιστότοπος ή κατατίθεται για ανάρτηση σε αυτό, συμπεριλαμβανομένων των πληροφοριών και των άρθρων που διατίθενται στον ιστότοπο, στα προσωπικά μηνύματα, στις σελίδες χρηστών και όλων των άλλων υπηρεσιών του ιστοτόπου.
      %li Ο χρήστης / μέλος κατανοεί και αποδέχεται τη διεθνή φύση του Διαδικτύου (Ιnternet) και δεσμεύεται να σέβεται και να τηρεί πιστά τους τοπικούς κανόνες δεοντολογίας. Συγκεκριμένα, ο χρήστης / μέλος δεσμεύεται να ακολουθεί πιστά τη νομοθεσία που αφορά την μετάδοση δεδομένων από την Ελλάδα και την Ευρώπη προς τρίτα κράτη.

    %h4.orange-text ΕΦΑΡΜΟΣΤΕΟ ΔΙΚΑΙΟ ΚΑΙ ΛΟΙΠΟΙ ΟΡΟΙ
    %p Οι ανωτέρω όροι και προϋποθέσεις χρήσης του ιστοτόπου, καθώς και οποιαδήποτε τροποποίηση τους, διέπονται και συμπληρώνονται από το ελληνικό δίκαιο, το δίκαιο της Ευρωπαϊκής Ένωσης και τις σχετικές διεθνείς συνθήκες. Οποιαδήποτε διάταξη των ανωτέρω όρων καταστεί αντίθετη προς το νόμο, παύει αυτοδικαίως να ισχύει και αφαιρείται από το παρόν, χωρίς σε καμία περίπτωση να θίγεται η ισχύς των λοιπών όρων.
    %p Το παρόν αποτελεί τη συνολική συμφωνία μεταξύ του ιστοτόπου και του επισκέπτη / χρήστη των σελίδων και υπηρεσιών του και δε δεσμεύει παρά μόνο τον επισκέπτη / χρήστη. Καμία τροποποίηση των όρων αυτών δε θα λαμβάνεται υπόψη και δε θα αποτελεί τμήμα της συμφωνίας αυτής, εάν δεν έχει διατυπωθεί εγγράφως και δεν έχει ενσωματωθεί σε αυτή.

    %h4.orange-text ΔΙΚΑΙΩΜΑΤΑ ΠΝΕΥΜΑΤΙΚΗΣ ΚΑΙ ΒΙΟΜΗΧΑΝΙΚΗΣ ΙΔΙΟΚΤΗΣΙΑΣ - ΣΗΜΑΤΑ
    %p Εκτός των ρητά αναφερόμενων εξαιρέσεων (πνευματικά δικαιώματα τρίτων, συνεργατών και φορέων), το σύνολο του περιεχομένου του ιστοτόπου, συμπεριλαμβανομένων ενδεικτικά αλλά όχι περιοριστικά, κειμένων, ειδήσεων, γραφικών, φωτογραφιών, σχεδιαγραμμάτων, απεικονίσεων, παρεχόμενων υπηρεσιών και γενικά κάθε είδους αρχείων, αποτελεί αντικείμενο πνευματικής ιδιοκτησίας.
    %p Κατατεθειμένα σήματα και σήματα υπηρεσιών του ιστοτόπου προστατεύονται από τις εθνικές και διεθνείς διατάξεις. Συνεπώς, απαγορεύεται ρητά η πώληση, αντιγραφή, τροποποίηση, αναπαραγωγή, αναδημοσίευση ή να "φορτωθεί" (download), να μεταδοθεί ή να διανεμηθεί με οποιονδήποτε τρόπο.
    %p Κατ εξαίρεση η περίπτωση της μεμονωμένης αποθήκευσης ενός και μόνου αντιγράφου τμήματος του περιεχομένου σε έναν απλό προσωπικό ηλεκτρονικό υπολογιστή, για αυστηρά και μόνο προσωπική χρήση. Τα λοιπά προϊόντα ή υπηρεσίες που αναφέρονται στις ηλεκτρονικές σελίδες του παρόντος ιστοτόπου και φέρουν τα σήματα των αντίστοιχων οργανισμών, εταιρειών, συνεργατών φορέων, ενώσεων ή εκδόσεων, αποτελούν δική τους πνευματική και βιομηχανική ιδιοκτησία και συνεπώς οι φορείς αυτοί φέρουν τη σχετική ευθύνη.

    = link_to "#{t 'abouts.edit.back'}", root_path, class: "btn btn-lg btn-primary m-2"
