.row.justify-content-center
  .col-lg-6.bg-white.effect3.m-3.p-4
    %h1.strong.orange-text
      = t '.my_hearts'
    %hr
    .row
      - @likes.each do |user|
        = link_to user_path(user) do
          .profile-pic-round-sm.m-2.lazy{ "data-src" => "#{user.profile_picture}" }

  #suggested_people.col-lg-5.effect3.m-3
    = render partial: 'suggested_people/list',
        locals: { users: @suggested_users }
