#imageModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "imageModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %img.profile-pic-modal{ src: "", alt: "Profile picture" }
