- if user.personalities
  .row.justify-content-center
    .col-md-12.col-lg-11.my-2.p-4.effect2.text-center.bg-lightblue
      %h3
        %strong
          Τύπος προσωπικότητας:
          %span.orange-text= user.personalities
      %hr
      %p
        = user.personalities_detail
