- if user.personality_type
  .row.justify-content-center
    #personality_type.col-lg-11.p-4.effect2.text-center
      %h3
        %strong
          Τύπος προσωπικότητας:
          %span.orange-text= user.personality_type
      %hr
      %p= personalities_detail(user.personality_type)
