.small-12.medium-12.large-2.columns.side-search
  %h4 Aναζήτηση
  = form_tag users_path, method: :get, class: "form", id: "search" do
    .row
      = select_tag :state, options_for_select(GC.states),
                           include_blank: "Νομός",
                           class: 'state-selection'
    .row
      = select_tag :city, options_for_select(GC.cities('att')),
                          include_blank: 'Πόλη',
                          class: 'city-selection'
    .row
      = submit_tag 'Search', class: "button success expanded hollow"
