.row
  .col-lg-3.col-md-12.col-sm-12.side-search.effect2
    = render 'search'
  .col-lg-9.col-sm-12.col-md-12
    #message-modal
    .card-deck.justify-content-center
      - if ! @users.map {|f| f}.blank?
        - @users.each do |user|
          - if user && !user.deleted_at && !(user == current_user)
            - present user do |user_presenter|
              = render partial: 'users/card', locals: {user: user, user_presenter: user_presenter}
      - else
        %h4= t '.no_results'
    .col-lg-6.col-sm-12.mx-auto
      = paginate @users
