= render 'search'
.large-10.columns.all-users
  - @users.each do |user|
    - present user do |user_presenter|
      = render partial: 'users/card', locals: {user: user, user_presenter: user_presenter}
.row
  = paginate @users
