= render 'search'
.medium-8.large-10.columns
  #message-modal
  .small-up-1.medium-up-2.large-up-3
    - if ! @users.map {|f| f}.blank?
      - @users.each do |user|
        - if user && !user.deleted_at
          - present user do |user_presenter|
            = render partial: 'users/card', locals: {user: user, user_presenter: user_presenter}
    - else
      %h4= t '.no_results'
.row
  = paginate @users
