.col-md-8.col-md-offset-2
  %h1 All users
  - @users.each do |user|
    - present user do |user_presenter|
      .col-sm-5.col-md-3
        .thumbnail
          = user_presenter.profile_picture_link(:medium)
          .caption
            %p.card-description= user.full_name
            %p
              = user_presenter.new_message
              = user_presenter.like_status
