.small-6.columns
  %h2 Οι Καρδιές μου
  %p Αριθμός καρδιών: #{@likes.size}
  %table.messages
    %thead
      %tr
        %th Από
        %th Ψευδώνυμο
    %tbody
      - @likes.each do |user|
        - present user do |user_profile|
          %tr
            %td
              .icon-size= user_profile.profile_picture_link
            %td
              = user.username
