.col-md-5
  %h2 Who likes me
  %h3 Number of likes: #{@likes.size}
  - @likes.each do |user|
    - present user do |user_profile|
      %ul.list-group
        %li.list-group-item.clearfix
          = user_profile.profile_picture_link
          = user.full_name
