- present @user do |user_presenter|
  #message-modal

  .row.justify-content-center
    .col-md-12.col-lg-4.my-2.p-4.effect2.text-center.bg-white
      = render partial: 'profile_pic_panel',
          locals: { user_presenter: user_presenter }

    .col-md-12.col-lg-7.my-2.p-4.effect2.bg-white
      = render partial: 'details_panel',
          locals: { user_presenter: user_presenter }

  .row.justify-content-center
    .col-md-12.col-lg-11.my-2.p-4.effect2.text-center.bg-white
      = render partial: 'gallery_panel',
          locals: { user_presenter: user_presenter }

= render partial: 'messages/message_modal'
