- present @user do |user_presenter|
  #message-modal

  .row.justify-content-center
    .col-sm-12.col-md-5.col-lg-4.bg-white.m-2.p-2.effect2.text-center
      = render partial: 'profile_pic_panel',
          locals: { user_presenter: user_presenter }

    .col-sm-12.col-md-6.col-lg-7.m-2.p-4.effect2.bg-white
      = render partial: 'details_panel',
          locals: { user_presenter: user_presenter }

  .row.justify-content-center
    .col-sm-12.col-md-6.col-lg-7.m-2.p-2.effect2.text-center.bg-white
      = render partial: 'youtube_panel',
          locals: { user_presenter: user_presenter }

    .col-sm-12.col-md-5.col-lg-4.bg-white.m-2.p-2.effect2.text-center
      = render partial: 'gallery_panel',
          locals: { user_presenter: user_presenter }
