.col
  %h1 Admin Console
  %ul.nav.flex-column
    %li.nav-item
      = link_to 'Reports', admin_reports_path, class: "nav-link"
    %li.nav-item
      = link_to 'All users', admin_users_path, class: "nav-link"
    %li.nav-item
    = link_to 'Contacts', admin_contacts_path, class: "nav-link"
