# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: feda5e8c77b72045e029cc81c15c14a728537c59777095a550de7d593dd3d8654a3cc3684ab34e3b817daa4a17b29c77b3dcb4a4d7d297954995057e8dc7acd7

test:
  secret_key_base: 27f9542d15de6afe4ac021902bc56706cddb7b7b350077c563a0301b938714d1340a18dbb373e5804da05549f1a5eba7c67a554543e60cccec1aa2a9597e52bf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
