<% content_for :title do %>
  Νέα χρυσή καρδιά!
<% end %>

<% content_for :preheader do %>
  Συγχαρητήρια <%= @user.username %>, κάποιος/α σας έστειλε χρυσή καρδιά στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Κάποιος/α σας έστειλε μια χρυσή καρδιά!</h1>
  Συνδεθείτε <a href="https://kardies.gr">εδώ</a> για να δείτε σε ποιόν/ά άρεσε το προφίλ σας και σας έστειλε χρυσή καρδιά.
<% end %>
