Κάποιος/α σας έστειλε μήνυμα!
\===============================================

Για να δείτε τα μηνύματά σας, ακολουθήστε το link εδώ: https://kardies.gr/conversations

Να έχετε μια υπέροχη μέρα!

Για να μην λαμβάνετε παρόμοια email αλλάξτε τις ρυθμίσεις σας εδώ:
https://kardies.gr/user/edit
