<% content_for :title do %>
  Νέα μήνυμα!
<% end %>

<% content_for :preheader do %>
  Κάποιος/α έχει κάτι να σας πεί <%= @user.username %>, συνδεθείτε στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Κάποιος/α σας έστειλε μήνυμα!</h1>
  Συνδεθείτε <a href="https://kardies.gr">εδώ</a> για να δείτε ποιός/ά σας έστειλε μήνυμα.
<% end %>
