%h1 Κάποιος/α σας έστειλε μήνυμα #{@user.username}!
%p Για να δείτε τα μηνύματά σας, ακολουθήστε το link εδώ: #{link_to "kardies.gr", "https://kardies.gr/conversations"}
%p Να έχετε μια υπέροχη μέρα!
%p
  %small
    Για να μην λαμβάνετε παρόμοια email αλλάξτε τις ρυθμίσεις σας εδώ:
    #{link_to "Email Preferences", "https://kardies.gr/user/edit"}
