= image_tag attachments['hearts_2.png'].url
%h1 Κάποιος/α σας έστειλε μήνυμα #{@user.username}!
%p Για να δείτε τα μηνύματά σας, ακολουθήστε το link εδώ: #{link_to "kardies.gr", "http://kardies.gr/conversations"}
%p
  %small
    Για να μην λαμβάνετε παρόμοια email αλλάξτε τις ρυθμίσεις σας εδώ:
    #{link_to "Email Preferences", "http://kardies.gr/gr/email_preferences/edit"}
