/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require jgallery
*= require cookieconsent.min
*= require toastr
*= require jquery.fileupload
*= require jquery.fileupload-ui
*= require nouislider
*= require swipebox
*/
@import "colors";
@import "bootstrap";
@import "font-awesome";
@import "sidebar-left";
@import "forms";
@import "creative";
@import "help_tip";
@import "messages";
@import "jgallery";
@import "abouts";
@import "users/*";
@import "home";
@import "slick";
@import 'slick-theme';
@import "galleries";
@import "rounded_toggle_button";
@import "footer";

html,
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f3f5f9;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 70px;
}

#main-content {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding-top: 20px;
}

.orange-text {
  font-weight: bold;
  color: $orange;
  text-shadow: 1px 1px $white;
}

.dark-gray-text {
  color: $dark_gray;
}

.white-text {
  color: $white;
  font-weight: bolder;
  text-shadow: 1px 1px $dark_gray;
}

.light-grey-bg {
  background-color: $light_grey;
}

.red-text {
  color: $red;
}

.bg-white {
  background-color: $white;
}

.bg-lightblue {
  background-color: $light_blue;
}

.bg-dark-blue {
  background-color: $orange;
}

.bg-purple {
  background-color: $purple;
}

.blue-text {
  color: $teal;
  font-weight: bolder;
}

.red-text {
  color: $red;
  a {
    color: $red;
  }
}

.aluminium-text {
  color: $aluminium;
}

.registration-bg {
  background-color: $white;
}

.error {
  margin-top: 0;
  font-weight: bold;
  font-size: small;
  color: $red;
}

.overflow-div {
  overflow-y: scroll;
}

.no-gaps {
  margin: 0;
  padding: 0;
}

#bg {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: asset-data-url('hands_bg.jpg');
}

.custom_header {
  margin-bottom: 20px;
  color: $white;
  font-weight: bolder;
  text-shadow: 0px 0px 3px $dark_gray;
}

.edit-profile {
  margin-right: 1rem;
}

.tiny-size {
  width: 1rem;
}

.icon-size {
  width: 3rem;
}

.thumb-size {
  max-width: 10rem;
}

.messages {
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                asset-data-url('loading.gif')
                50% 50%
                no-repeat;
}

body.loading {
  overflow: hidden;
}

body.loading .loading-modal {
  display: block;
}

.ui-widget-overlay {
  background: none;
  background-color: $dark_gray;
  opacity: .70;
  filter: Alpha(Opacity=70);
}

.whitesmoke-bg {
  background-color: $whitesmoke;
}

table tr:nth-of-type(even) {
  background-color: transparent !important;
}

.img-circle {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.nice-blue-bg {
  background-color: $nice-blue
}

.profile-pic-round-sm {
  display: block;
  width: 76px;
  height: 76px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding: 0;
}

.profile-pic-round-lg {
  display: block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding: 0;
}

.pic-round-sm {
  display: block;
  width: 76px;
  height: 76px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  padding: 0;
}

.logo {
  max-width: 300px;
}

.page-item.active .page-link{
  background: $orange;
  border-color: $orange;
}

.margin-3 {
	margin: 1rem;
}

.ad-fake-container {
  background-color: $black;
  color: $white;
  width: 728px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.kardies_ad {
  width: 728px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

@media(max-width: 800px) {
	.margin-3 {
		margin: 0;
	}

  .kardies_ad {
    width: 320px;
    height: 100px;
  }

  .ad-fake-container {
    width: 320px;
    height: 100px;
  }
}
