/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require jquery-ui/slider
 */
 @import "foundation_and_overrides";
 @import "font-awesome";
 @import "colors";
 @import "users";


.edit-profile {
  margin-right: 1rem;
}

.top-bar {
  background-color: $fbblue;
  margin-bottom: 2rem;

  a {
    color: $white;
  }

  .top-bar-left a {
    color: $white;
  }

  .top-bar-left li {
    background-color: $fbblue;
  }
}

.icon-size {
  width: 3rem;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert-box {
  margin: 1rem;
  padding: 1.5rem;
  background: #f7f7f7;
  color: #333;
  border: none;
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

  &.success {
    border-left: 6px solid $success;
    background: #f7f7f7;
    color: #333;
  }

  &.alert {
    border-left: 6px solid $alert;
    background: #f7f7f7;
    color: #333;
  }

  &.warning {
    border-left: 6px solid $warning;
    background: #f7f7f7;
    color: #333;
  }

  &.info {
    border-left: 6px solid $info;
    background: #f7f7f7;
    color: #333;
  }

  .close {
    font-size: 2rem;
    line-height: 1.25rem;
    color: $aluminium;
  }
}
