/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require jgallery
*= require jquery-ui/dialog
*/
@import "colors";
@import "foundation_and_overrides";
@import "font-awesome";
@import "help_tip";
@import "conversations";
@import "abouts";
@import "jgallery";
@import "users";
@import "footer";

body {
 background-color: $whitesmoke;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 70px;
}

.orange-text {
  font-weight: bold;
  color: $orange;
  text-shadow: 1px 1px $white;
}

.dark-gray-text {
  color: $dark_gray;
}

.white-text {
  color: $white;
  font-weight: bolder;
  text-shadow: 1px 1px $dark_gray;
}

.red-text {
  color: $red;
  a {
    color: $red;
  }
}

.aluminium-text {
  color: $aluminium;
}

.registration-bg {
  background-color: $white;
}

.error {
  margin-top: 0;
  font-weight: bold;
  font-size: small;
  color: $red;
}

#bg {
  z-index: -999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .bg_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
    max-height: none;
  }
}

.center-page {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);


  .custom_header {
    position: relative;
    color: $white;
    font-weight: bolder;
    text-shadow: 0px 0px 3px $dark_gray;
  }
}

.edit-profile {
  margin-right: 1rem;
}

.top-bar {
  margin-bottom: 2rem;

  a {
    color: $white;
  }

  .top-bar-left a {
    color: $white;
  }

  .top-bar-left li {
    background-color: $fbblue;
  }
}

.tiny-size {
  width: 1rem;
}

.icon-size {
  width: 3rem;
}

.thumb-size {
  max-width: 10rem;
}

.messages {
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.alert-box {
  margin: 1rem;
  padding: 1.5rem;
  background: #f7f7f7;
  color: #333;
  border: none;
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

  &.success {
    border-left: 6px solid $success;
    background: #f7f7f7;
    color: #333;
  }

  &.alert {
    border-left: 6px solid $alert;
    background: #f7f7f7;
    color: #333;
  }

  &.warning {
    border-left: 6px solid $warning;
    background: #f7f7f7;
    color: #333;
  }

  &.info {
    border-left: 6px solid $info;
    background: #f7f7f7;
    color: #333;
  }

  .close {
    font-size: 2rem;
    line-height: 1.25rem;
    color: $aluminium;
  }
}

footer {
  border-top: solid 5px $orange;
  background-color: rgba(77, 77, 77, 0.7);
  bottom: 0;
  width: 100%;
  height: 50px;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

body.loading {
  overflow: hidden;
}

body.loading .loading-modal {
  display: block;
}

.ui-widget-overlay {
  background: none;
  background-color: $dark_gray;
  opacity: .70;
  filter: Alpha(Opacity=70);
}

.whitesmoke-bg {
  background-color: $whitesmoke;
}

table tr:nth-of-type(even) {
  background-color: transparent !important;
}

.blink-blink {
  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.border-right {
  border-left: 1px solid $white;
}

@media all and (max-width: 800px) {
  .border-right {
    border-left: none;
  }
}
