#suggested_people {
  background-color: $teal;
  font-weight: bold;
  color: $white;
  padding: 2rem;
  max-height: 400px;

  hr {
    background-color: $white;
  }
}

#like-list {
  max-height: 400px;
  min-height: 300px;
  overflow: scroll;

  a {
    text-decoration: none;
    color: $black;
  }

  li:hover {
    background-color: $whitesmoke;
  }
}
