.ui {
	background-color: $white;
	border-radius: 3px;
	flex-direction: row;
	display: flex;
	overflow: hidden;

	#left-menu {
		height: 645px;
		min-width: 250px;
    max-width: 250px;

		background: #434753;
		overflow-y: scroll;
	}

	.toggle-left-menu {
		z-index: 1;
		background: $whitesmoke;

		a {
			color: $fbblue;
		}
	}

	.chat {
		width: 100%;
		background: $whitesmoke;

		.info {
			padding-left: 10px;
			flex-direction: column;
			vertical-align: 40px;
			width: 100%;

			.name {
				font-weight: 600;
				color: #434753;
				height: 50%;
			}
			.count {
				color: #6d738d;
			}
		}
		i.fa {
			color: #d6d9de;
			vertical-align: 25px;
		}
	}

	ul {
		margin: 0;
	}

	.messages {
		height: 460px;
		width: 100%;
		list-style: none;
		border: 2px solid #fff;
		border: none;
		padding-left: 0px;

		li {
			margin: 20px 10px 10px 10px;
			transition: all .5s;

			&:after {
				content: '';
				clear: both;
				display: block;
			}
			.head {
				font-size: 13px;
			}
			.name {
				font-weight: 600;
				position: relative;
			}
			.time {
				color: #b7bccf;
			}
			.message {
				margin-top: 5px;
				color: $black;
				font-size: 15px;
				border-radius: 5px;
				line-height: 25px;
				width: 100%;
				word-wrap: break-word;
				position: relative;
			}
		}
			li.message-bubble{
				.message {
					background-color: $white;
					padding: 0.5rem;
				}
			}
		}

		.write-form {
			width: 100%;

			textarea {
				height: 75px;
				width: 100%;
				outline: none;
				padding: 15px;
				border: none;
				border-radius: 3px;
				resize: none;
				margin: 10px 0 10px 0;

				&:before {
					content: '';
					clear: both;
				}
			}
		}
		.avatar>img {
			border-color: $aluminium;
			margin: 10px;
			margin-right: 5px;
		}
		.avatar {
			display: inline-block;
			width: 100%;
		}
}
