.ui {
	margin: 0 auto 10px auto;
	height: 45rem;
	background-color: $white;
	border-radius: 3px;
	flex-direction: row;
	display: flex;
	overflow: hidden;

	.left-menu {
		width: 29%;
		padding: 0.5% 1%;
		height: 100%;
		background: #434753;
	}

	.chatbox_ad {
		margin-top: 10px;
	}

	.chat {
		width: 100%;
		height: 100%;
		background: $whitesmoke;

		.info {
			padding-left: 10px;
			flex-direction: column;
			vertical-align: 40px;
			width: 100%;

			.name {
				font-weight: 600;
				color: #434753;
				height: 50%;
			}
			.count {
				color: #6d738d;
			}
		}
		i.fa {
			color: #d6d9de;
			vertical-align: 25px;
		}
	}

	ul {
		margin: 0;
	}

	.avatar>img {
		border-radius: 50%;
		border: 3px solid #696c75;
	}
	.top{
		height: 70px;
	}
	.messages {
		height: 530px;
		list-style: none;
		border: 2px solid #fff;
		border-left: none;
		border-right: none;

		li {
			margin: 10px;
			transition: all .5s;

			&:after {
				content: '';
				clear: both;
				display: block;
			}
			.head {
				font-size: 13px;
			}
			.name {
				font-weight: 600;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					height: 8px;
					width: 8px;
					border-radius: 50%;
					top: 6px;
				}
			}
			.time {
				color: #b7bccf;
			}
			.message {
				margin-top: 20px;
				color: #fff;
				font-size: 15px;
				border-radius: 5px;
				padding: 0 1rem;
				line-height: 25px;
				max-width: 500px;
				word-wrap: break-word;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					width: 0px;
					height: 0px;
					top: -12px;
					border-bottom: 12px solid #62bf6e;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
				}
			}
		}
		li.friend-message {
			.name {
				margin-left: 20px;

				&:after{
				background-color: #62bf6e;
				left: -20px;
				top: 6px;
				}
			}
			.message {
				background-color: #62bf6e;
				float: left;

				&:before {
					left: 16px;
					border-bottom-color: #62bf6e;
				}
			}
		}
		li.myself {
			.head {
				text-align: right;
			}
			.name {
				margin-right: 20px;

				&:after {
					background-color: #7bc4ef;
					right: -20px;
					top: 6px;
				}
			}
			.message {
				background-color: #7bc4ef;
				float: right;
					&:before {
						right: 16px;
						border-bottom-color: #7bc4ef;
					}
				}
			}
		}
		.write-form {
			height: 150px;
			textarea {
				height:75px;
				margin: 17px 5%;
				width: 90%;
				outline: none;
				padding: 15px;
				border: none;
				border-radius: 3px;
				resize: none;

				&:before {
					content: '';
					clear: both;
				}
			}
		}
		.avatar>img {
			border-color: #62bf6e;
			margin: 10px;
			margin-right: 5px;
		}
		.avatar {
			display: inline-block;
			width: 100%;
		}
		.send {
			color: #7ac5ef;
			text-transform: uppercase;
			font-weight: 700;
			float: right;
			margin-right: 5%;
			cursor: pointer;
			user-select:none;
		}
}

@media all and (max-width: 800px) {
	.left-menu {
		display: none;
	}
}
