// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  border: 1px solid $aluminium;
  margin: 1rem 2.5rem;
  min-width: 200px;
  border-radius: 2%;
  text-align: center;
  position: relative;

  img {
    margin: 0 auto;
    margin-top: 5px;
    max-height: 210px;
    max-width: 100%;
  }

  i.fa-heart-o {
    color: $red;
  }

  i.fa-heart { color: $red; }

  .card-top {
    height: 220px;
    border-bottom: 1px solid $whitesmoke;
  }

  span.vertical-border {
    position: absolute;
    height: 2rem;
    border-right: 1px solid $whitesmoke;
  }

  span.message {
    margin-right: 20px;
  }

  span.like {
    margin-left: 20px;
  }

  .online-now {
    background-color: $online_green;
    padding: 0.4rem;
    border-radius: 50%;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
  }
}

.side-search {
  padding: 2rem;
  background-color: $whitesmoke;
  border: 1px solid $aluminium;
}

.effect1{
  -webkit-box-shadow: 0 6px 6px -6px #777;
  -moz-box-shadow: 0 6px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}
