= image_tag attachments['hearts-logo-small.png'].url

%h3
  Καλώς ήλθατε στην παρέα μας #{@email}!
%p Επιβεβαιώστε τον λογαριασμό σας κάνοντας κλίκ στον παρακάτω σύνδεσμο:
%p= link_to 'Επιβαίωση λογαριασμού', confirmation_url(@resource, confirmation_token: @token)
