<p>Καλώς ήλθαστε στην παρέα μας <%= @email %>!</p>

<p>Κάντε κλίκ στον παρακάτω σύνδεσμο για να ενεργοποιήσετε τον λογαριασμό σας.</p>

<p><%= link_to 'Επιβεβαίωση λογαριασμού', "#{ENV['FRONTEND_URL']}/confirmation?confirmation_token=#{@token}" %></p>
