<% content_for :title do %>
  Επιβεβαίωση εγγραφής!
<% end %>

<% content_for :preheader do %>
  Επιβεβαιώστε τον λογαριασμό σας για να συνεχίσετε στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Καλώς ήρθατε στην παρέα μας <%= @email %>!</h1>
  <p>Κάντε κλίκ στον παρακάτω σύνδεσμο για να ενεργοποιήσετε τον λογαριασμό σας.</p>
<% end %>
