<% content_for :title do %>
  Ειδοποίηση αλλαγής email
<% end %>

<% content_for :preheader do %>
  Το email σας άλλαξε στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Το email σας άλλαξε!</h1>
  <p>Σας στέλνουμε να σας ειδοποιήσουμε ότι το email σας άλλαξε, το νέο σας email είναι: <%= @resource.email %>.</p>
<% end %>
