<p>Ειδοποίηση αλλαγής email, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Σας στέλνουμε να σας ειδοποιήσουμε ότι το email σας άλλαξε, το νέο σας email είναι: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Σας στέλνουμε να σας ειδοποιήσουμε ότι το email σας άλλαξε, το νέο σας email είναι: <%= @resource.email %>.</p>
<% end %>
