<p>Ειδοποίηση αλλαγής κωδικού, <%= @resource.email %>!</p>

<p>Σας στέλνουμε να σας ειδοποιήσουμε ότι ο κωδικός σας άλλαξε στο <a href="https://kardies.gr">kardies.gr</a>, αγνοήστε αυτό το email αν γνωρίζετε γι'αυτή την αλλαγή.</p>
