<% content_for :title do %>
  Ειδοποίηση αλλαγής κωδικού
<% end %>

<% content_for :preheader do %>
  Ο κωδικός σύνδεσης άλλαξε στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Ο κωδικός σας άλλαξε!</h1>
  <p>Σας στέλνουμε να σας ειδοποιήσουμε ότι ο κωδικός σας άλλαξε, αγνοήστε αυτό το email αν γνωρίζετε γι'αυτή την αλλαγή.</p>
<% end %>
