<p>Γειά σας <%= @resource.email %>!</p>

<p>Κάποιος ζήτησε να αλλάξετε τον κωδικό του λογαριασμού σας. Μπορείτε να το πραγματοποιήσετε κάνοντας κλικ στον παρακάτω σύνδεσμο.</p>

<p><%= link_to 'Αλλαγή του κωδικού μου', "#{ENV['FRONTEND_URL']}/password_reset?reset_password_token=#{@token}" %></p>

<p>Αν δεν ζητήσατε αυτήν την ενέργεια εσείς, παρακαλούμε αγνοήστε αυτό το email.</p>
<p>Ο κωδικός σας δεν μπορεί να αλλάξει εάν δεν ακολουθήσετε το παραπάνω σύνδεσμο.</p>
