<% content_for :title do %>
  Αλλαγή κωδικού
<% end %>

<% content_for :preheader do %>
  <%= @resource.email %>, Ζητήσατε αλλαγή κωδικού στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Αλλαγή κωδικού!</h1>
  <p>Ζητήσατε να αλλάξετε τον κωδικό του λογαριασμού σας. Μπορείτε να το πραγματοποιήσετε κάνοντας κλικ στον παρακάτω σύνδεσμο.</p>
  <p><%= link_to 'Αλλαγή του κωδικού μου', "#{ENV['FRONTEND_URL']}/password_reset?reset_password_token=#{@token}" %></p>
  <p>Αν δεν το ζητήσατε εσείς, παρακαλούμε αγνοήστε αυτό το email.</p>
  <p>Ο κωδικός σας δεν μπορεί να αλλάξει εάν δεν ακολουθήσετε τον παραπάνω σύνδεσμο.</p>
<% end %>

