= image_tag 'http://kardies.gr/images/hearts-logo-small.png'

%h1 Γειά σας #{@resource.email}!
%p Ζητήσατε την αλλαγή του κωδικού σας? Απλά ακολουθήστε το  παρακάτω link.
%p= link_to 'Αλλαγή του κωδικού μου', edit_password_url(@resource, reset_password_token: @token)
%p Αν δεν το ζητήσατε εσείς, παρακαλούμε αγνοήστε αυτό το μήνυμα.
%p Ο κωδικός σας δεν θα αλλάξει μέχρι να ακολούθησετε το link και κάνετε την αλλαγή.
