<p>Κλείδωμα λογαριασμού, <%= @resource.email %>!</p>

<p>Ο λογαριασμός σας κλειδώθηκε λόγου επαναλαμβανομένων αποτυχημένων προσπαθειών.</p>

<p>Κάντε κλικ στον παρακάτω σύνδεσμο για να τον ξεκλειδώσετε:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
