<% content_for :title do %>
  Κλείδωμα λογαριασμού
<% end %>

<% content_for :preheader do %>
  <%= @resource.email %>, Ο λογαριασμός σας κλειδώθηκε στο <a href="https://kardies.gr">kardies.gr</a>
<% end %>

<% content_for :body do %>
  <h1>Κλείδωμα λογαριασμού</h1>
  <p>Ο λογαριασμός σας κλειδώθηκε λόγου επαναλαμβανομένων αποτυχημένων προσπαθειών.</p>
  <p>Κάντε κλικ στον παρακάτω σύνδεσμο να τον ξεκλειδώσετε:</p>
  <p><%= link_to 'Ξεκλείδωμα λογαριασμού', unlock_url(@resource, unlock_token: @token) %></p>
<% end %>
