%h4 Link to Profile
= link_to @user.username, user_path(@user.username)
%hr
%h4 Conversations
- @conversations.each do |conversation|
  %strong Participants:
  = conversation.participants.map(&:username).split.join(" / ")
%hr
%h4 Last Login
= @user.updated_at
