#slider-range {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.noUi-connect {
  background-color: $slider-blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: textfield;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
