#slider-range {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.noUi-connect {
  background-color: $orange;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: textfield;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.top-search {
  padding: 1rem;
  padding-bottom: 0;
  background-color: $teal;
  margin-bottom: 1rem;
  color: $white;
  font-weight: bold;
  width: 100%;

  hr {
    background-color: $white;
  }

  h3 {
    color: $white;
    font-weight: bold;
  }

  .filters {
    margin-top: 3rem;
  }

  .btn {
    color: $white;
  }

  .btn:hover {
    color: $orange;
  }
}
