.row
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{ "data-alert" => "", "class" => "alert-box #{foundation_class_for(name)}", "data-closable" => "" }
        = msg
        %a.close.pull-right{"href" => "#", "data-close" => ""} ⊗
